[submodule "Matlab/ComputerVision/mexopencv"]
	path = Matlab/ComputerVision/mexopencv
	url = https://github.com/kyamagu/mexopencv.git
[submodule "Matlab/Math/Optimization/OPTI"]
	path = Matlab/Math/Optimization/OPTI
	url = https://github.com/jonathancurrie/OPTI.git
[submodule "Matlab/MachineLearning/FANN/fann"]
	path = Matlab/MachineLearning/FANN/fann
	url = https://github.com/libfann/fann.git
[submodule "Matlab/MachineLearning/FANN/LanguageBindings/Matlab/mfann"]
	path = Matlab/MachineLearning/FANN/LanguageBindings/Matlab/mfann
	url = https://github.com/dgorissen/mfann.git
[submodule "Matlab/MachineLearning/FANN/LanguageBindings/Python/fann2"]
	path = Matlab/MachineLearning/FANN/LanguageBindings/Python/fann2
	url = https://github.com/FutureLinkCorporation/fann2.git
[submodule "Matlab/MachineLearning/DeepLearnToolbox"]
	path = Matlab/MachineLearning/DeepLearnToolbox
	url = https://github.com/rasmusbergpalm/DeepLearnToolbox.git
[submodule "Matlab/MachineLearning/wekalab"]
	path = Matlab/MachineLearning/wekalab
	url = https://github.com/NicholasMcCarthy/wekalab.git
[submodule "Matlab/MachineLearning/Demo/NeuralNetPlayground"]
	path = Matlab/MachineLearning/Demo/NeuralNetPlayground
	url = https://github.com/StackOverflowMatlabchat/NeuralNetPlayground.git
[submodule "Matlab/MachineLearning/sklearn-matlab"]
	path = Matlab/MachineLearning/sklearn-matlab
	url = https://github.com/steven2358/sklearn-matlab.git
[submodule "Matlab/Visualization/plot_google_map"]
	path = Matlab/Visualization/plot_google_map
	url = https://github.com/zoharby/plot_google_map.git
[submodule "Matlab/Visualization/gramm"]
	path = Matlab/Visualization/gramm
	url = https://github.com/piermorel/gramm.git
[submodule "Matlab/Visualization/boundedline-pkg"]
	path = Matlab/Visualization/boundedline-pkg
	url = https://github.com/kakearney/boundedline-pkg.git
[submodule "Matlab/Visualization/BrewerMap"]
	path = Matlab/Visualization/BrewerMap
	url = https://github.com/DrosteEffect/BrewerMap.git
[submodule "Matlab/Visualization/PlotPub"]
	path = Matlab/Visualization/PlotPub
	url = https://github.com/masumhabib/PlotPub.git
[submodule "Matlab/Math/Regression/loess"]
	path = Matlab/Math/Regression/loess
	url = https://github.com/bartverm/loess.git
[submodule "Matlab/Math/Regression/nricp"]
	path = Matlab/Math/Regression/nricp
	url = https://github.com/charlienash/nricp.git
[submodule "Matlab/FileIO/struct2xml"]
	path = Matlab/FileIO/struct2xml
	url = https://github.com/joe-of-all-trades/struct2xml.git
[submodule "Matlab/FileIO/xml2struct"]
	path = Matlab/FileIO/xml2struct
	url = https://github.com/joe-of-all-trades/xml2struct.git
[submodule "Matlab/ImageProcessing/FastGuassianBlur"]
	path = Matlab/ImageProcessing/FastGuassianBlur
	url = https://github.com/RoyiAvital/FastGuassianBlur.git
[submodule "Matlab/Math/Optimization/psomatlab"]
	path = Matlab/Math/Optimization/psomatlab
	url = https://github.com/sdnchen/psomatlab.git
[submodule "Matlab/Simulation/openvd"]
	path = Matlab/Simulation/openvd
	url = https://github.com/andresmendes/openvd.git
[submodule "Matlab/Math/Misc/mesh2d"]
	path = Matlab/Math/Misc/mesh2d
	url = https://github.com/dengwirda/mesh2d.git
[submodule "Matlab/Math/Misc/vec2grid-pkg"]
	path = Matlab/Math/Misc/vec2grid-pkg
	url = https://github.com/kakearney/vec2grid-pkg.git
[submodule "Matlab/Math/Regression/SparsifiedKMeans"]
	path = Matlab/Math/Regression/SparsifiedKMeans
	url = https://github.com/stephenbeckr/SparsifiedKMeans.git
[submodule "Matlab/Visualization/export_fig"]
	path = Matlab/Visualization/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "Matlab/Math/Regression/loess-matlab"]
	path = Matlab/Math/Regression/loess-matlab
	url = https://github.com/bartverm/loess-matlab.git
[submodule "Matlab/DataHandling/dirPlus"]
	path = Matlab/DataHandling/dirPlus
	url = git@github.com:kpeaton/dirPlus.git
[submodule "Matlab/FileIO/jsonlab"]
	path = Matlab/FileIO/jsonlab
	url = https://github.com/fangq/jsonlab.git
[submodule "Matlab/ImageProcessing/matImage"]
	path = Matlab/ImageProcessing/matImage
	url = git@github.com:mattools/matImage.git
[submodule "Python/Video/pytube"]
	path = Python/Video/pytube
	url = git@github.com:nficano/pytube.git
[submodule "Matlab/General/matlab-schemer"]
	path = Matlab/General/matlab-schemer
	url = git@github.com:scottclowe/matlab-schemer.git
[submodule "Matlab/Math/Optimization/GA-Toolbox"]
	path = Matlab/Math/Optimization/GA-Toolbox
	url = git@github.com:UoS-CODeM/GA-Toolbox.git
[submodule "Matlab/ComputerVision/Point_cloud_tools_for_Matlab"]
	path = Matlab/ComputerVision/Point_cloud_tools_for_Matlab
	url = git@github.com:pglira/Point_cloud_tools_for_Matlab.git
